@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: hsl(233, 47%, 7%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding: 6rem;
}

.container{
    display: flex;
    background-color: hsl(244, 38%, 16%);
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.text{
    margin: 0 4rem;
}

.text h1{
    color: hsl(0, 0%, 100%);
    width: 20rem;
    margin: 0 0 1.5rem 0;
}

.text h1 span{
    color: hsl(277, 64%, 61%);
}

.text p{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
    margin: 0 0 2.9rem 0;
}

.shorts{
    display: flex;
}

.shorts div{
    margin: 0 2rem 0 0;
}

.shorts div h3{
    color:  hsla(0, 0%, 100%, 0.75);
}

.shorts div p{
    margin: 0 0 0 0;
}

.images{
    align-items: center;
}

.images::after{
    content: "";
    top: 19%;
    left: 52.8%;
    position: absolute;
    z-index: 1;
    opacity: .6;
    background-color: hsl(277, 64%, 61%);
    width: 400px;
    height: 310px;
}

.images img{
    width: 400px;
    height: 310px;
}